body {
  background-color: #05051a;
}

#main {
  margin: 0 auto;
  width: 75vw;
}

.navbar {
  background-color: #320E3B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.navbar .nav-item {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  padding: 1em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar .nav-item:hover {
  background-color: darkgray;
}

.hide {
  display: none;
}

.mobile-open {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 768px) {
  .nav-desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav-mobile {
    display: none;
  }
  .mobile-open {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .container {
  background-color: #E56399;
}

.header .container .header-text {
  font-family: 'Open Sans', sans-serif;
  padding: 2rem;
  color: white;
}

.header .container .header-text .tagline {
  margin-top: 0;
  font-weight: 400;
}

.header .container .header-text p {
  font-weight: 300;
}

.sidebyside {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.sidebyside .container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sidebyside .container .left {
  width: 50%;
  padding: 2em;
  background-color: #7F96FF;
}

.sidebyside .container .right {
  width: 50%;
  padding: 2em;
  background-color: #A6CFD5;
}

.squares .container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.squares .sq {
  background-color: #E56399;
  color: white;
}

.squares .sq-1 {
  background-color: #DBFCFF;
  color: #302f2f;
}

.squares .sq-2 {
  background-color: #7F96FF;
  color: white;
}

.squares .sq-3 {
  background-color: #A6CFD5;
  color: white;
}

.squares .square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.squares .square p {
  padding: 0 3em 0 3em;
}

@media (min-width: 768px) {
  .squares .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .squares .square p {
    padding: 0 1em 0 1em;
  }
}
/*# sourceMappingURL=main.css.map */