$navbackground: #65524D;
$headerbgc: #817E9F;
$leftbgc: #B5EF8A;
$rightbgc: #D7F171;
$lastsquarebgc: #7FC29B;

.navbar {
  background-color: $navbackground;
  display: flex;
  justify-content: flex-end;

  .nav-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: white;
    transition: .2s;
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    &:hover {
      background-color: darkgray;
    }

  }
}

@media screen and (min-width: 768px) {
  .nav-desktop {
    display: flex;
  }
  .nav-mobile {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.header {
  .container {
    display: flex;
    justify-content: center;
    background-color: $headerbgc;

    .header-text {
      font-family: 'Open Sans', sans-serif;
      padding: 2rem;
      color: white;

      .tagline {
        margin-top: 0;
        font-weight: 400;
      }
      p {
        font-weight: 300;
      }
    }

  }
}

.sidebyside {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  .container {
    display: flex;
    flex-direction: row;
    align-content: center;

    .left {
      width: 50%;
      padding: 2em;
      background-color: $leftbgc;
    }
    .right {
      width: 50%;
      padding: 2em;
      background-color: $rightbgc;
    }
  }
}

.squares {
  .container {
    flex-direction: column;
  }

  .sq   { background-color: $headerbgc; }
  .sq-1 { background-color: $lastsquarebgc; }
  .sq-2 { background-color: $leftbgc; }
  .sq-3 { background-color: $rightbgc; }

  .square {
    color: white;
    p {
      padding: 0 3em 0 3em;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    .container {
      flex-direction: row;
    }
    .square {
      p {
        padding: 0 1em 0 1em;
      }
    }
  }
}