$navbackground: #320E3B;
$headerbgc: #E56399;
$leftbgc: #7F96FF;
$rightbgc: #A6CFD5;
$lastsquarebgc: #DBFCFF;

body {
  background-color: rgb(21, 5, 26);
}

#main {
  margin: 0 auto;
  width: 75vw;
}

.navbar {
  background-color: $navbackground;
  display: flex;
  justify-content: flex-end;

  .nav-item {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-decoration: none;
    color: white;
    transition: 0.2s;
    padding: 1em;
    text-transform: uppercase;
    letter-spacing: 2px;

    &:hover {
      background-color: darkgray;
    }
  }
}

.hide {
  display: none;
}

.mobile-open {
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .nav-desktop {
    display: flex;
  }
  .nav-mobile {
    display: none;
  }
  .mobile-open {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .nav-desktop {
    display: none;
  }
  .nav-mobile {
    display: flex;
  }
}

.container {
  display: flex;
  justify-content: center;
}

.header {
  .container {
    background-color: $headerbgc;

    .header-text {
      font-family: 'Open Sans', sans-serif;
      padding: 2rem;
      color: white;

      .tagline {
        margin-top: 0;
        font-weight: 400;
      }
      p {
        font-weight: 300;
      }
    }
  }
}

.sidebyside {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  .container {
    flex-direction: row;
    align-content: center;

    .left {
      width: 50%;
      padding: 2em;
      background-color: $leftbgc;
    }
    .right {
      width: 50%;
      padding: 2em;
      background-color: $rightbgc;
    }
  }
}

.squares {
  .container {
    flex-direction: column;
  }

  .sq {
    background-color: $headerbgc;
    color: white;
  }

  .sq-1 {
    background-color: $lastsquarebgc;
    color: rgb(48, 47, 47);
  }

  .sq-2 {
    background-color: $leftbgc;
    color: white;
  }

  .sq-3 {
    background-color: $rightbgc;
    color: white;
  }

  .square {
    p {
      padding: 0 3em 0 3em;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media(min-width: 768px) {
    .container {
      flex-direction: row;
    }
    .square {
      p {
        padding: 0 1em 0 1em;
      }
    }
  }
}
